*,
*::before,
*::after {
  box-sizing: border-box;
}

*:active,
*:focus {
  outline: none;
}

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", "Cinzel", "Montserrat", "Poppins", serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #060606;
  background-color: #ffffff;
  overflow-x: hidden;
}

body.modal_open {
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a,
input {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

a {
  box-sizing: content-box;
}

a:hover,
a:active {
  color: #ff8219;
}

input:focus {
  outline: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-weight: normal;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

picture > img {
  width: 100%;
  height: 100%;
}

.row {
  max-width: 1028px;
  margin: 0 auto;
  padding: 0;
}

.row > * {
  padding: 0;
  width: auto;
  flex-shrink: 1;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0;
}
.title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #040406;
  text-transform: none;
}
/* .container > div {
  margin-left: auto;
  margin-right: auto;
} */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* index.html-start*/
.body__lock {
  overflow: hidden;
  transition: transform 1.2s ease;
}
.body--lock {
  position: fixed;
  overflow-y: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.header {
  position: relative;
  z-index: 200;
  background-color: #ffffff;
}
.header__container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__top {
  display: flex;
  align-items: center;
  position: relative;
}
.header__logo {
  width: 120px;
  height: 30px;
  display: block;
  flex-shrink: 0;
  margin-right: 41px;
}
.header__logo img {
  width: 100%;
  height: 30px;
}
.header__nav {
  margin-right: auto;
  position: static;
  opacity: 1;
  transform: none;
  pointer-events: auto;
}
.nav__list {
  display: flex;
}
.nav__mobile-list {
  display: none;
}
.nav__item {
  margin: 0 32px 0 0;
  position: relative;
}
.nav__item:last-child {
  margin: 0;
}
.nav__item:hover .nav__submenu {
  display: block;
}
.nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #040406;
  padding: 15px 0;
  display: inline-block;
}
.nav__link:hover {
  color: #ec19ff;
}
.submenu {
  padding: 16px 11px 10px 14px;
  background: url(../img/header/bg.png) no-repeat;
  position: absolute;
  /* top: 100%; */
  left: -14px;
  /* right: 50%; */
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  width: 152px;
  display: none;
}
.submenu__link {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #040406;
}
.header__control {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header__search {
  margin-right: 20px;
}
.search {
  width: 31px;
  height: 31px;
  position: relative;
}
.search__input {
  position: absolute;
  left: -8px;
  color: rgba(6, 6, 6, 0.69);
  width: 934px;
  height: 100%;
  padding: 0 0 0 10px;
  background: #ffffff;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(4, 4, 6, 0.14);
  display: none;
}
.search::after {
  content: "";
  width: 31px;
  height: 31px;
  background: url("../img/header/magnifier.svg") no-repeat center;
  background-size: contain;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.search__close {
  margin-left: auto;
  z-index: 3;
  position: absolute;
  top: 11px;
  right: 166px;
  transition: transform 1.2s ease;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: none;
}
.search__line {
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: black;
  top: 50%;
  margin-top: -1px;
  left: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.search__line:first-child {
  transform: translateY(0) rotate(45deg);
  background-color: black;
}
.search__line:last-child {
  transform: translateY(0) rotate(-45deg);
  background-color: black;
}
.header__item {
  display: flex;
  justify-content: center;
}
.header__item:not(:last-child) {
  margin-right: 20px;
}
.header__icon {
  background-repeat: no-repeat;
  background-size: contain;
}
.header__icon-comparison {
  width: 24px;
  height: 24px;
  background-image: url("../img/header/comparison.svg");
}
.header__icon-favorites {
  width: 30px;
  height: 25px;
  background-image: url("../img/header/favorites.svg");
}
.header__icon-favorites:active {
  background-image: url("../img/favorites_white_fill.svg");
}
.header__icon-cart {
  width: 35px;
  height: 36px;
  background-image: url("../img/header/cart.svg");
  background-position: left bottom;
  position: relative;
}
.header__burger {
  margin-left: auto;
  z-index: 3;
  position: absolute;
  top: 18px;
  right: 32px;
  display: none;
  transition: transform 1.2s ease;
}
.submenu__close {
  margin-left: auto;
  z-index: 3;
  position: absolute;
  top: 59px;
  right: 132px;
  transition: transform 1.2s ease;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.burger {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.burger__line {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: black;
  top: 50%;
  margin-top: -1px;
  left: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.burger__line:first-child {
  transform: translateY(-8px);
  transition: transform 1.2s ease;
}
.burger__line:last-child {
  transform: translateY(8px);
  transition: transform 1.2s ease;
}
.submenu1 {
  display: none;
  width: 1295px;
  left: -200px;
  padding: 86px 200px 73px;
}
.submenu1__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.submenu2 {
  display: none;
  position: absolute;
  left: 30%;
  top: 20%;
}
.submenu2__link {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.submenu1__link:hover {
  padding: 10px;
}
.submenu1__link:hover {
  background: url(../img/header/arrow.svg) right no-repeat;
}
.submenu1__item:hover .submenu2 {
  display: block;
}
.submenu__line {
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: black;
  top: 50%;
  margin-top: -1px;
  left: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.submenu__line:first-child {
  transform: translateY(0) rotate(45deg);
  background-color: black;
}
.submenu__line:last-child {
  transform: translateY(0) rotate(-45deg);
  background-color: black;
}
.banner__container {
  padding-bottom: 55px;
  position: relative;
}
.banner__container::after {
  position: absolute;
  content: " ";
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 1220px;
  border-bottom: 1px solid rgba(4, 4, 6, 0.14);
}
.banner {
  width: 1288px;
  height: 540px;
}
.banner__img {
  max-width: 1220px;
  height: 510px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
.banner-button-prev {
  left: 0;
  top: 48%;
  color: #040406;
}
.banner-button-next {
  right: 0;
  top: 48%;
  color: #040406;
}
.banner .title {
  text-align: left;
}
.banner__button {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 8px;
  background: #ff8219;
  box-shadow: -5px 5px 20px rgba(255, 130, 25, 0.51);
  border-radius: 20px;
}
.banner__image {
  width: 100%;
  height: 100%;
}
.banner__image > img {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 18px 18px;
}
.new__container {
  max-width: 1220px;
  padding-top: 34px;
  padding-bottom: 122px;
  position: relative;
}
.new__container--bottom {
  padding-bottom: 93px;
}
.new__container::after {
  position: absolute;
  content: " ";
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 1220px;
  border-bottom: 1px solid rgba(4, 4, 6, 0.14);
}
.new__title {
  margin-bottom: 34px;
}
.new__swiper {
  max-width: 1220px;
}
.new__swiper--height {
  min-height: 692px;
}
.new__swiper-slide {
  display: flex;
}
.new__wraper-big {
  position: relative;
}
.new__name {
  position: absolute;
  bottom: 36px;
  left: 32px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #040406;
}
.new__wraper-text {
  position: absolute;
  bottom: 143px;
  left: 42px;
}
.new__wraper-small {
  position: relative;
}
.new__name-small {
  position: absolute;
  bottom: 27px;
  left: 13px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #040406;
}
.new__price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #f2f2f2;
}
.new__wraper {
  margin-left: 8px;
}
.new__wraper .new__img-small:first-child {
  margin-bottom: 8px;
}
.new-button-prev {
  top: 24px;
  right: 53px;
  left: unset;
  color: #040406;
}
.new-button-next {
  top: 24px;
  right: -3px;
  color: #040406;
}
.new__pagination {
  bottom: 0 !important;
}
.bestsellers__container {
  padding-top: 34px;
  padding-bottom: 72px;
  position: relative;
}
.bestsellers__container::after {
  position: absolute;
  content: " ";
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 1220px;
  border-bottom: 1px solid rgba(4, 4, 6, 0.14);
}
.bestsellers__container--bottom {
  padding-bottom: 106px;
}
.bestsellers__container--bottom::after {
  border-bottom: 1px solid transparent;
}
.bestsellers__title {
  text-align: start;
  line-height: 36px;
  margin-bottom: 24px;
  position: relative;
}
.bestsellers__title--bg::after {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  background: url(../img/bestsellers/filter.svg) center center/ cover no-repeat;
}
.bestsellers__title-small {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #040406;
  margin-top: 14px;
  margin-bottom: 15px;
}
.bestsellers__list {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(5, 222px);
  grid-gap: 30px;
}
.bestsellers__list-two {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-gap: 30px;
  margin: 0 auto;
  width: 50%;
}
.bestsellers__list-three {
  display: grid;
  grid-template-columns: repeat(3, 190px);
  grid-gap: 5px;
  /* margin: 0 auto;
  width: 50%; */
}
.bestsellers__card {
  box-shadow: 0px 1px 10px rgba(4, 4, 6, 0.08);
  border-radius: 4px;
  max-width: 220px;
}
.bestsellers__card-small {
  box-shadow: 0px 1px 10px rgba(4, 4, 6, 0.08);
  border-radius: 4px;
  max-width: 220px;
  position: relative;
}
.bestsellers__card-two {
  width: 301px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(4, 4, 6, 0.08);
  border-radius: 4px;
  position: relative;
}
.bestsellers__card-three {
  width: 190px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(4, 4, 6, 0.08);
  border-radius: 4px;
  position: relative;
}
.bestsellers__item {
  width: 250px;
  margin: 0 19px 0 0;
  box-shadow: 5px 5px 30px rgba(83, 81, 79, 0.1);
}
.bestsellers__swiper {
  height: auto;
}
.bestsellers__swiper-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
.subswiper__swiper-slide {
  width: 100%;
}
.subswiper__img {
  display: block;
  width: 100%;
}
.subswiper__img-two {
  display: block;
  width: 100%;
  height: 156px;
}
.subswiper__img-three {
  display: block;
  width: 100%;
  height: 104px;
}
.bestsellers__pagination {
  bottom: -4px !important;
}
.bestsellers__close {
  position: absolute;
  top: 10px;
  z-index: 10;
  right: 12px;
}
.bestsellers-button-prev {
  top: 25px;
  right: 41px;
  color: #040406;
  left: unset;
}
.bestsellers-button-next {
  top: 25px;
  right: -3px;
  color: #040406;
}
.bestsellers__swiper-slide {
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgba(4, 4, 6, 0.08);
  border-radius: 4px;
  height: auto;
}
.bestsellers__wrap {
  padding: 24px 11px 13px;
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.bestsellers__wrap-three {
  height: calc(100% - 104px);
  padding: 5px 11px;
}
.bestsellers__name {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #060606;
  margin-bottom: 17px;
}
.bestsellers__name-three {
  margin-bottom: 5px;
}
.bestsellers__price--new {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #060606;
}
.bestsellers__icon {
  position: absolute;
  bottom: 11px;
  right: 0;
  display: block;
}
.bestsellers__filter__option {
  margin-top: 36px;
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(4, 4, 6, 0.14);
  border-bottom: 1px solid rgba(4, 4, 6, 0.14);
}
.bestsellers__desc-wrap {
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative;
  border-bottom: 1px solid rgba(4, 4, 6, 0.04);
}
.bestsellers__desc-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 140px;
  margin-right: 78px;
}
.bestsellers__text:first-child {
  margin-right: 200px;
}
.bestsellers__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: 125px;
}
.catalog__container {
  padding-top: 34px;
  padding-bottom: 131px;
  position: relative;
}
.catalog__container::after {
  position: absolute;
  content: " ";
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 1220px;
  border-bottom: 1px solid rgba(4, 4, 6, 0.14);
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 13px 7px;
}
.catalog__title {
  margin-bottom: 34px;
}
.catalog__item {
  position: relative;
}
.catalog__img {
  width: 100%;
}
.catalog__marker-position {
  position: absolute;
  top: 23%;
  left: 49%;
}
.catalog__marker-position2 {
  position: absolute;
  top: 15%;
  left: 64%;
}
.catalog__marker-position3 {
  position: absolute;
  top: 31%;
  left: 17%;
}
.catalog__marker-position4 {
  position: absolute;
  top: 23%;
  left: 54%;
}
.catalog__marker-position5 {
  position: absolute;
  top: 52%;
  left: 74%;
}
.catalog__marker-position6 {
  position: absolute;
  top: 87%;
  left: 49%;
}
.catalog__marker-position7 {
  position: absolute;
  top: 30%;
  left: 34%;
}
.catalog__marker {
  border-radius: 50%;
  display: block;
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  margin-bottom: 9px;
  cursor: pointer;
}
.catalog__marker--color {
  background-color: rgba(79, 79, 79, 0.2);
}
.catalog__marker::after {
  position: absolute;
  content: " ";
  border-radius: 50%;
  border: 9px solid #ffffff;
  top: 27%;
  left: 50%;
  transform: translate(-50%);
}
.catalog__marker::before {
  position: absolute;
  content: " ";
  width: 51px;
  height: 135px;
  background-color: transparent;
}
.catalog__wrap {
  padding: 12px 14px 9px 14px;
  background: #ffffff;
  border-radius: 4px;
  min-width: 186px;
  display: none;
}
.catalog__marker:hover ~ .catalog__wrap {
  display: block;
}
.catalog__marker:focus ~ .catalog__wrap {
  display: block;
}
.catalog__name {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 3px;
}
.catalog__price {
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 4px;
}
.catalog__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #828282;
}
.footer__container {
  padding: 40px 0 97px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-right: 84px;
  border-top: 1px solid #fafafa;
  position: relative;
}
.footer__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.footer__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #040406;
}
.footer__link--adress {
  width: 237px;
}
.social__list {
  display: flex;
  align-items: center;
  margin-top: 28px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.footer__copyright {
  max-width: 1220px;
  display: flex;
  padding-bottom: 43px;
}
.copyright__text {
  font-family: "Inter";
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #9d9d9d;
}
.copyright__text:not(:last-child) {
  margin-right: 47px;
}
/* index.html-end*/

/* about.html-start*/
.about__container {
  padding-top: 26px;
  padding-bottom: 99px;
  position: relative;
}
.about__container::after {
  position: absolute;
  content: " ";
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 1220px;
  border-bottom: 1px solid rgba(4, 4, 6, 0.14);
}
.about__title {
  margin-bottom: 27px;
}
.about__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  max-width: 323px;
}
.breadcrumb__item {
  display: flex;
  align-items: center;
  margin-left: 0;
}
.breadcrumb__item::after {
  content: "/";
  display: block;
  margin-right: 10px;
  margin-left: 10px;
}
.breadcrumb__item:last-child::after {
  content: none;
}
.breadcrumb__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}
.about__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
}
.about__flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 73px;
}
.about__img {
  display: block;
  width: 100%;
}
.about__column {
  max-width: 530px;
  margin-left: 30px;
  margin-top: 48px;
}
.about__column-width {
  max-width: 660px;
  margin-left: 30px;
}
.about__name {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 31px;
}
.about__wrap:not(:last-child) {
  margin-bottom: 31px;
}
.about__wrap {
  display: flex;
  align-items: flex-start;
}
.about__line {
  display: block;
  width: 146px;
  height: 1px;
  background-color: #040406;
  margin-top: 12px;
  margin-right: 8px;
}
.about__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  max-width: 547px;
}
.map__container {
  padding-top: 99px;
  padding-bottom: 180px;
  position: relative;
  display: flex;
  padding-right: 95px;
}
.map__image {
  width: 609px;
  margin-right: 30px;
}
.map__img {
  width: 100%;
  display: block;
  height: 422px;
}
.map__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #040406;
  margin-bottom: 80px;
}
.map__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
  cursor: pointer;
  max-width: 380px;
}
.map__item:not(:last-child) {
  margin-bottom: 26px;
}
/* about.html-end*/
/* blog.html-start*/
.blog__container {
  padding-top: 26px;
  padding-bottom: 169px;
  position: relative;
  margin: 0 auto;
}
.blog__title {
  margin-bottom: 27px;
}
.blog__list {
  margin-top: 40px;
}
.blog__item {
  display: grid;
  grid-template-columns: repeat(2, 609px);
  grid-template-rows: 400px auto;
  grid-gap: 8px;
  margin-bottom: 10px;
}
.blog__box {
  position: relative;
}
.blog__box:first-child {
  grid-row: 1 / 3;
}
.blog__box:nth-child(3) {
  grid-row: 2 / 4;
}
.blog__item:nth-child(even) > .blog__box:first-child {
  grid-column: 2 / 2;
}
.blog__item:nth-child(even) > .blog__box:nth-child(3) {
  grid-row: 2 / 4;
}
.blog__subtitle {
  position: absolute;
  bottom: 36px;
  left: 33px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  max-width: 285px;
}
/* blog.html-end*/
/* return.html-start*/
.return__container {
  padding-top: 57px;
  padding-bottom: 110px;
  position: relative;
  margin: 0 auto;
  display: flex;
}
.return__column {
  margin-left: 0;
}
.return__title {
  margin-bottom: 27px;
  width: 281px;
}
.return__desc {
  max-width: 881px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
/* return.html-end*/
/* delivery.html-start*/
.delivery__container {
  padding-top: 23px;
  padding-bottom: 120px;
  position: relative;
  padding-right: 16px;
}
.delivery__flex {
  display: flex;
  padding-top: 33px;
  padding-bottom: 33px;
  justify-content: space-between;
}
.delivery__flex:not(:last-child) {
  border-bottom: 1px solid rgba(4, 4, 6, 0.14);
}
.delivery__title {
  margin-bottom: 27px;
  min-width: 319px;
}
.delivery__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: 100%;
}
.delivery__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #040406;
  min-width: 319px;
}
/* return.html-end*/
/* card.html-start*/
.card {
  border: none;
}
.card__container {
  padding-top: 23px;
  padding-bottom: 120px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.card__breadcrumb {
  position: absolute;
}
.card__image {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  align-items: center;
}
.card__img {
  display: block;
  width: 687px;
  height: 471px;
  margin-bottom: 8px;
}
.card__image-small {
  display: flex;
}
.card__img-small {
  display: block;
  width: 100%;
}
.card__img-small:first-child {
  margin-right: 8px;
}
.card__btn {
  margin-top: 30px;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #040406;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 221px;
  text-align: center;
  margin-bottom: 40px;
}
.card__swiper {
  display: none;
}
.card__swiper360 {
  width: 500px;
  height: 500px;
}
.card__swiper-wrapper360 {
  width: 500px;
  height: 500px;
}
.card__swiper-slide360 {
  width: 500px;
  height: 500px;
}
.card__swiper-slide360 img {
  width: 500px;
  height: 500px;
}
.swiper-cube-shadow {
  display: none;
}
.swiper-3d .swiper-slide-shadow-left.swiper-slide-shadow-right {
  display: none;
}
.card__text {
  margin-top: 59px;
}
.card__wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
  border-bottom: 2px solid #4f4f4f;
}
.card__title {
  margin-bottom: 7px;
}
.card__subname {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #040406;
}
.card__icons {
  display: flex;
  margin-bottom: 20px;
}
.card__icon {
  display: block;
}
.card__icon:first-child {
  margin-right: 30px;
}
.card__filter {
  padding-top: 5px;
  border-bottom: 2px solid #040406;
}
.filter__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #040406;
  margin-bottom: 9px;
}
.filter__radio {
  display: none;
}
.filter__radio + .filter__label {
  padding-left: 28px;
  padding-right: 30px;
}
.filter__radio + .filter__label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #040406;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
}
.filter__radio:checked + .filter__label::before {
  content: "";
  width: 16px;
  height: 16px;
  outline: 1px solid #040406;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border: 1px solid #fff;
  background-color: black;
}
.filter__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #040406;
  margin: 0 0 12px 0;
  position: relative;
}
.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  display: none;
}
.polzunok-container-5 * {
  box-sizing: border-box;
  outline: none;
}
.polzunok-container-5 {
  padding: 10px 0;
  margin: 20px 0;
  position: relative;
}
.polzunok-container-5:after {
  content: "";
  clear: both;
  display: table;
}
.polzunok-container-5 .ui-slider {
  position: relative;
  background-color: #f8f8f8;
  height: 4px;
}
.polzunok-container-5 .ui-slider .ui-slider-handle {
  margin-left: -16px;
  width: 21px;
  height: 10px;
  cursor: pointer;
  top: -5px;
  background: transparent;
  z-index: 2;
  transition: transform 0.2s, border 0.4s;
}
.filter__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 6px 13px;
  background-color: rgba(96, 96, 107, 0.04);
  margin-bottom: 22px;
}
.filter__list {
  display: flex;
  flex-direction: column;
}
.polzunok__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 6px 13px;
  background-color: rgba(96, 96, 107, 0.04);
  margin-bottom: 22px;
}
.polzunok__wrap {
  display: flex;
  align-items: center;
  position: absolute;
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0 6px 0 13px;
  top: 22px;
}
.polzunok__wrap--top {
  top: 22px;
}
.polzunok__wrap--top2 {
  top: 65px;
}
.polzunok-input-5-left,
.polzunok-input-5-right {
  height: 32px;
  background: #fff;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 16px;
  width: 100%;
  text-align: start;
}
.polzunok-input-5-left {
  float: left;
}
.polzunok-input-5-right {
  float: right;
}
.polzunok__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.polzunok-container-5 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 4px;
  border: 0;
  background: #040406;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.filters__buttons {
  display: flex;
}
.filters__button-apply {
  background-color: #040406;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 75%;
  padding: 8px;
  grid-column: 2 / 3;
  margin-left: auto;
}
.filters__button-reset {
  border: 1px solid #000000;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #040406;
  padding: 8px;
  width: 75%;
  margin: 0 auto;
}
.filters__close {
  margin-left: auto;
  z-index: 3;
  position: absolute;
  top: 59px;
  right: 0;
  transition: transform 1.2s ease;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.filters__line {
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: black;
  top: 50%;
  margin-top: -1px;
  left: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.filters__line:first-child {
  transform: translateY(0) rotate(45deg);
  background-color: black;
}
.filters__line:last-child {
  transform: translateY(0) rotate(-45deg);
  background-color: black;
}
.card__wrap-price {
  display: flex;
  padding-top: 32px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 45px;
}
.card__price {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #040406;
}
.card__button {
  background-color: #040406;
  border-radius: 4px;
  padding: 10px 14px 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  text-align: center;
}
.card__accordion {
  max-width: 450px;
  position: relative;
  z-index: 5;
}
.accordion__btn {
  background-color: transparent;
  cursor: pointer;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #040406;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  z-index: 5;
}
.accordion__btn:first-child {
  border-top: 1px solid #040406;
}
.active,
.accordion__btn:hover {
  opacity: 0.6;
}
.accordion__btn:after {
  position: absolute;
  content: " ";
  color: #040406;
  font-weight: normal;
  top: 15px;
  right: 10px;
  background: url(../img/card/paw.svg) center center no-repeat;
  width: 36px;
  height: 31px;
}
.accordion__btn::after:checked {
  display: none;
}
.accordion__btn::after:checked.accordion__btn::before {
  display: block;
}
.active:after {
  background: url(../img/card/minus.svg) center center no-repeat;
}
.accordion__panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #040406;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4f4f4f;
}
.accordion__wrap-name {
  display: flex;
  flex-direction: column;
}
.accordion__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.accordion__wrap-name > .accordion__name:nth-child(1) {
  margin-bottom: 20px;
}
.accordion__wrap-name > .accordion__name:nth-child(5) {
  margin-bottom: 20px;
}
.accordion__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
/* card.html-end*/

/* cart.html-start*/
.cart__container {
  max-width: 661px;
  padding-top: 48px;
  padding-left: 24px;
  padding-right: 121px;
  padding-bottom: 81px;
  position: absolute;
  background-color: #ffffff;
  top: 64px;
  right: 0;
  display: none;
}
.cart__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #040406;
  margin-bottom: 20px;
}
.cart__close {
  margin-left: auto;
  z-index: 3;
  position: absolute;
  top: 59px;
  right: 132px;
  transition: transform 1.2s ease;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.cart__line {
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: black;
  top: 50%;
  margin-top: -1px;
  left: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.cart__line:first-child {
  transform: translateY(0) rotate(45deg);
  background-color: black;
}
.cart__line:last-child {
  transform: translateY(0) rotate(-45deg);
  background-color: black;
}
.cart__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.cart__wrap-left {
  display: flex;
}
.cart__wrap-img {
  display: flex;
  margin-right: 13px;
}
.cart__icon {
  display: block;
}
.cart__img {
  display: block;
}
.cart__big-close {
  display: none;
}
.cart__wrap-number-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 37%;
}
.cart__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #040406;
  margin-bottom: 7px;
}
.cart__subname {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #040406;
  margin-bottom: 8px;
}
.cart__numbner {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.cart__wrap-total {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2px;
  border-bottom: 2px solid #040406;
}
.cart__total {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #040406;
}
.cart__wrap-bottom {
  margin-bottom: 23px;
}
.cart__numbner-big {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #040406;
}
.cart__amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #040406;
  padding-top: 5px;
}
.cart__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #040406;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  padding: 14px;
  width: 94%;
  text-align: center;
  margin-bottom: 11px;
}
.cart__sutext {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #828282;
  margin-bottom: 60px;
}

/* cart.html-end*/
/* registration.html-start*/
.registration__container {
  padding-top: 25px;
  padding-bottom: 259px;
}
.registration__title {
  margin-bottom: 37px;
}
.registration__flex {
  display: flex;
  justify-content: space-between;
}
.registration__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #040406;
}

.registration__name {
  padding-bottom: 5px;
  border-bottom: 1px solid #040406;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #040406;
}
.registration__name-bottom {
  border-bottom: 1px solid transparent;
  padding-bottom: 0;
  margin-bottom: 0;
}
.registration__sum {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: right;
  color: #040406;
}
.registration__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #040406;
  padding-top: 5px;
}
.registration__cart__wrap {
  margin-bottom: 24px;
}
.registration__cart__wrap-top {
  margin-top: 49px;
}
.registration__accordion {
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(4, 4, 6, 0.03);
  border-bottom: 1px solid rgba(4, 4, 6, 0.14);
  justify-content: space-between;
}
.registration__accordion-column {
  flex-direction: column;
}
.registration__wrap-accordion {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.registration__total {
  width: 43%;
}
.registration__wrap-form {
  padding-top: 70px;
}
.registration__form {
  padding-top: 18px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.registration__filter {
  margin-bottom: 28px;
}
.registration__btn {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #bdbdbd;
}
.form__input {
  background-color: #f8f8f8;
  border-radius: 2px;
  width: 100%;
  padding: 15px 12px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #9d9d9d;
}
.registration__input {
  width: 100%;
}
.registration__input-width {
  width: 50%;
}
.registration__radio_list {
  margin-top: 20px;
  margin-bottom: 13px;
}
.registration__wrap-button {
  display: flex;
  margin-bottom: 35px;
}
.registration__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 48%;
  padding: 11px;
  margin-left: 9px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.registration__link {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  background-color: #040406;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 14px;
  width: 95%;
  text-align: center;
  margin-bottom: 13px;
}
.registration__confid {
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: #9d9d9d;
  max-width: 355px;
  display: block;
}
.registration__span {
  border-bottom: 1px solid #9d9d9d;
}
/* registration.html-end*/
@media (max-width: 1340px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1150px;
  }
  .banner {
    max-width: 1150px;
  }
  .banner__img {
    display: block;
    width: 1100px;
  }
  .bestsellers__list {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
  }
  .bestsellers__subswiper {
    width: 220px;
  }
  .bestsellers__title {
    margin-bottom: 34px;
  }
  .submenu__close {
    right: 20%;
  }
  .blog__container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .blog__item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 292px auto;
    grid-gap: 8px;
    margin-bottom: 10px;
  }
  .card__container {
    padding-top: 47px;
    padding-bottom: 0px;
  }
  .card__image {
    max-width: 50%;
  }
  .card__img {
    display: block;
    width: 100%;
    height: 327px;
    margin-bottom: 8px;
  }
  .card__text {
    margin-top: 59px;
    max-width: 45%;
  }
  .card__accordion {
    max-width: 100%;
  }
  .card__price {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #040406;
    width: 203px;
  }
  .card__button {
    width: 26%;
  }
  .card__btn {
    margin-top: 8px;
    margin-bottom: 20px;
  }
  .filters__close {
    right: 32px;
  }
  .search__input {
    width: 795px;
  }
}
@media (max-width: 1200px) {
  .header__logo {
    margin-right: 26px;
  }
  .nav__item {
    margin: 0 15px 0 0;
    position: relative;
  }
  .header__icon {
    transform: scale(0.95);
  }
  .search {
    transform: scale(0.95);
  }
  .submenu__close {
    right: 28%;
  }
  .banner {
    width: 100%;
    height: 386px;
  }
  .banner__img {
    display: block;
    width: 96%;
    height: 360px;
  }
  .new__swiper--height {
    min-height: 498px;
  }
  .new__swiper-slide {
    justify-content: center;
  }
  .new__wraper-big {
    width: 100%;
  }
  .new__wraper {
    margin-left: 5px;
  }
  .new__img {
    width: 100%;
    height: 432px;
    display: block;
  }
  .new__img-small {
    width: 332px;
    height: auto;
    display: block;
  }
  .new__img-small--width {
    width: 332px;
    height: 239px;
    display: block;
  }
  .new__wraper-text {
    bottom: 122px;
    left: 31px;
  }
  .new__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #f2f2f2;
  }
  .registration__product {
    width: 50%;
  }
  .registration__img-small:first-child {
    display: none;
  }
  .bestsellers__list-three {
    grid-template-columns: repeat(3, 143px);
    width: 100%;
  }
  .bestsellers__card-three {
    width: 143px;
  }
  .subswiper__img-three {
    height: 79px;
  }
  .search__input {
    width: 650px;
  }
}
@media (max-width: 960px) {
  .title {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
  }
  .header__container {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 27px;
  }
  .header__top {
    align-items: flex-start;
  }
  .header__logo {
    width: 100px;
    height: 24px;
    margin-right: 35px;
  }
  .submenu__close {
    right: 39%;
  }
  .nav__item:not(:last-child) {
    margin-right: 25px;
  }
  .nav__link {
    font-size: 13px;
    line-height: 15px;
    padding-top: 10px;
  }
  .header__item:not(:last-child) {
    margin-right: 10px;
  }
  .banner__container {
    width: 100%;
  }
  .banner {
    width: 100%;
  }
  .banner__img {
    display: block;
    width: 900px;
  }
  .new__container {
    padding-top: 20px;
    padding-bottom: 80px;
  }
  .new__container--bottom {
    padding-bottom: 68px;
  }
  .new__title {
    margin-bottom: 17px;
  }
  .new__name {
    font-size: 18px;
    line-height: 22px;
    bottom: 25px;
    left: 24px;
  }
  .new__name-small {
    font-size: 18px;
    line-height: 22px;
    bottom: 18px;
  }
  .bestsellers__container {
    padding-top: 21px;
    padding-bottom: 69px;
  }
  .bestsellers__title {
    margin-bottom: 6px;
  }
  .bestsellers__list {
    grid-template-columns: repeat(3, auto);
  }
  .bestsellers__list-two {
    width: 71%;
  }
  .bestsellers__desc-name {
    margin-right: auto;
  }
  .subswiper__img {
    height: 206px;
  }
  .catalog__container {
    padding-top: 18px;
    padding-bottom: 80px;
  }
  .catalog__title {
    margin-bottom: 20px;
  }
  .catalog__wrap {
    padding-top: 9px;
    padding-left: 11px;
    min-width: 137px;
  }
  .catalog__price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
  }
  .catalog__link {
    font-size: 10px;
    line-height: 12px;
    display: block;
  }
  .catalog__marker-position {
    left: 50%;
  }
  .catalog__marker-position2 {
    top: 16%;
  }
  .catalog__marker-position3 {
    left: 18%;
  }
  .catalog__marker-position6 {
    top: 87%;
    left: 49%;
  }
  .catalog__marker-position7 {
    top: 29%;
    left: 35%;
  }
  .catalog__marker {
    width: 26px;
    height: 26px;
  }
  .catalog__marker::after {
    border: 6px solid #fff;
    top: 27%;
    left: 50%;
  }
  .footer__container {
    padding-top: 74px;
    padding-right: 19px;
    padding-bottom: 75px;
  }
  .footer__title--none {
    display: none;
  }
  .footer__menu--absolute {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%);
  }
  .social__list {
    margin-top: 64px;
  }
  .copyright__text {
    margin-right: 0;
  }
  .copyright__text:not(:last-child) {
    margin-bottom: 12px;
  }
  .about__container {
    padding-left: 32px;
    padding-right: 0;
    padding-top: 47px;
    padding-bottom: 79px;
  }
  .about__title {
    margin-bottom: 21px;
  }
  .about__flex {
    margin-top: 27px;
  }
  .about__flex-start {
    margin-top: 0px;
    padding-right: 44px;
  }
  .about__column {
    max-width: 475px;
    margin-top: 20px;
  }
  .about__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
  }
  .about__column-width {
    max-width: 535px;
  }
  .about__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .about__wrap:not(:last-child) {
    margin-bottom: 50px;
  }
  .about__line {
    width: 105px;
  }
  .about__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    max-width: 433px;
  }
  .map__container {
    padding-left: 32px;
    padding-right: 57px;
    padding-top: 61px;
    padding-bottom: 29px;
  }
  .map__title {
    margin-bottom: 44px;
  }
  .map__image {
    width: 386px;
  }
  .map__img {
    height: 346px;
  }
  .map__column {
    margin-top: 37px;
  }
  .blog__container {
    padding-top: 47px;
    padding-bottom: 0px;
  }
  .blog__list {
    margin-top: 0;
    padding-bottom: 15px;
  }
  .blog__subtitle {
    bottom: 5px;
    left: 24px;
  }
  .return__container {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 48px;
    padding-bottom: 168px;
  }
  .return__title {
    margin-bottom: 22px;
  }
  .return__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 9px;
  }
  .delivery__container {
    padding-top: 12px;
    padding-bottom: 33px;
  }
  .delivery__flex {
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .delivery__title {
    margin-bottom: 19px;
    min-width: 275px;
  }
  .delivery__subtitle {
    min-width: 275px;
  }
  .delivery__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    max-width: 613px;
    margin-top: 9px;
  }
  .registration__container {
    padding-top: 49px;
  }
  .cart__wrap-img-position {
    position: absolute;
    left: 9px;
  }
  .cart__wrap-text-left {
    margin-left: 106px;
  }
  .registration__subname {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  .registration__btn {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  .bestsellers__name-three {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  .bestsellers__price--new-xs {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
  .registration__wrap-form {
    padding-top: 45px;
  }
  .filters {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;
    padding-bottom: 50px;
  }
  .filters__button-apply {
    margin-top: auto;
  }
  .filters__button-reset {
    margin-top: auto;
  }
  .filters__wrap--absolute {
    height: 156px;
  }
}
@media (max-width: 900px) {
  .header__container {
    position: relative;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 2;
    transition: transform 1.2s ease;
    transform: translateY(-100%);
    pointer-events: none;
    opacity: 0;
    overflow-y: auto;
    width: 100%;
    height: 490px;
  }
  .submenu1 {
    display: none;
    width: 537px;
    left: 0;
    padding: 0;
    z-index: 10;
    height: 490px;
    padding-left: 15px;
    position: relative;
  }
  .submenu1__back {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
  .submenu2 {
    left: 35%;
    top: 0%;
  }
  .nav__list {
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    display: none;
  }
  .nav__mobile-list {
    padding-top: 47px;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }
  .nav__link {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #040406;
    padding: 7px;
  }
  .header__logo {
    width: 100px;
    height: 24px;
  }
  .header__burger {
    display: block;
  }
  .submenu__close {
    top: 0;
    right: 0;
  }
  .header__control {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .bestsellers__list-two {
    width: 100%;
  }
  .bestsellers__desc-name {
    position: absolute;
    top: 0;
  }
  .banner__container {
    width: 100%;
  }
  .banner {
    width: 100%;
  }
  .banner__img {
    display: block;
    width: 100%;
  }
  .banner-button-prev {
    color: #ffffff;
  }
  .banner-button-next {
    color: #ffffff;
  }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__menu {
    width: 100%;
  }
  .footer__menu--absolute {
    position: relative;
    left: unset;
    top: unset;
    transform: translate(0);
  }
  .social__list {
    margin-top: 0;
  }
  .footer__copyright {
    flex-direction: column-reverse;
  }
  .copyright__text {
    margin-bottom: 12px;
  }
  .copyright__text:nth-child(2) {
    order: 2;
  }
  .about__column-width {
    max-width: 450px;
  }
  .about__column {
    max-width: 381px;
  }
  .about__desc {
    max-width: 381px;
  }
  .card__image {
    max-width: 45%;
  }
  .card__text {
    max-width: 54%;
  }
  .cart__container {
    max-width: 723px;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 81px;
    position: absolute;
    background-color: #ffffff;
    top: 35px;
    right: 50%;
    transform: translate(50%);
  }
  .cart__close {
    top: 27px;
    right: 23px;
  }
  .bestsellers__desc-wrap {
    padding-top: 40px;
  }
  .bestsellers__desc-name {
    top: 12px;
  }
  .registration__product {
    width: 52%;
  }
  .bestsellers__card-three:last-child {
    display: none;
  }
  .registration__wrap-img-small {
    display: none;
  }
  .registration__cart__wrap {
    flex-direction: column;
  }
  .cart__wrap-img-position {
    left: 0;
  }
  .cart__wrap-number-flex {
    width: 100%;
  }
  .cart__icon--none {
    display: none;
  }
  .cart__wrap-left {
    position: relative;
  }
  .cart__big-close {
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 0;
  }
  .search__input {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .new__container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .catalog__container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .new__swiper-slide {
    flex-direction: column;
    align-items: center;
  }
  .new__wraper-big {
    margin-bottom: 8px;
    width: 100%;
  }
  .new__img {
    height: 296px;
  }
  .new__wraper {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
    width: 100%;
  }
  .new__wraper .new__img-small:first-child {
    margin-bottom: 0px;
  }
  .new__img-small:first-child {
    margin-left: 8px;
  }
  .new__wraper-small:first-child {
    margin-right: 8px;
  }
  .new__wraper-small {
    width: 100%;
  }
  .new__img-small {
    width: 100%;
    height: 149px;
    display: block;
  }
  .new__img-small--height {
    height: 187px;
  }
  .new__pagination {
    display: none;
  }
  .bestsellers__container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .bestsellers__card-small {
    max-width: 187px;
  }
  .bestsellers__list-two {
    grid-template-columns: repeat(2, 187px);
    grid-gap: 9px;
  }
  .bestsellers__card-two {
    width: 187px;
  }
  .bestsellers__text:first-child {
    margin-right: 68px;
  }
  .bestsellers__subswiper {
    width: 187px;
  }
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__logo {
    position: absolute;
    top: 0;
    left: 16px;
  }
  .footer__copyright {
    padding-left: 16px;
    padding-right: 16px;
  }
  .copyright__text {
    font-size: 10px;
    line-height: 12px;
  }
  .about__container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .about__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
  }
  .about__flex {
    flex-direction: column;
  }
  .about__flex-start {
    flex-direction: column;
  }
  .about__column {
    margin-left: 0;
    max-width: 100%;
  }
  .about__column-width {
    max-width: 100%;
    margin-left: 0;
  }
  .about__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
  .about__image {
    width: 100%;
    margin-bottom: 35px;
  }
  .about__line {
    width: 322px;
  }
  .about__desc {
    max-width: 100%;
  }
  .map__container {
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 100px;
  }
  .map__image {
    margin-right: 0;
    margin-bottom: 31px;
    width: 100%;
  }
  .map__title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .map__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .blog__container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 63px;
  }
  .blog__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .blog__item {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .blog__box:first-child {
    grid-row: 1;
  }
  .blog__box:nth-child(3) {
    grid-row: 2;
  }
  .blog__item:nth-child(2n) > .blog__box:first-child {
    grid-column: 1;
  }
  .blog__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .return__container {
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
  .return__column {
    width: 100%;
  }
  .delivery__container {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 0;
  }
  .delivery__flex {
    flex-direction: column;
    padding-top: 27px;
    padding-bottom: 32px;
  }
  .delivery__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .delivery__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .delivery__desc {
    margin-top: 0;
  }
  .card__container {
    flex-direction: column;
    padding-top: 54px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .card__image {
    max-width: 100%;
  }
  .card__img {
    display: none;
  }
  .card__image-small {
    display: none;
  }
  .card__swiper {
    display: block;
    width: 100%;
    height: 342px;
  }
  .card__swiper-img {
    display: block;
    width: 100%;
    height: 329px;
  }
  .card__btn {
    display: none;
  }
  .card__swiper360 {
    display: none;
  }
  .card__text {
    max-width: 100%;
    margin-top: 32px;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
  }
  .card__wrap-price {
    align-items: flex-start;
    flex-direction: column;
  }
  .card__button {
    width: 91%;
  }
  .registration__container {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 37px;
  }
  .registration__flex {
    flex-direction: column-reverse;
  }
  .registration__product {
    width: 100%;
  }
  .registration__total {
    width: 100%;
    margin-bottom: 22px;
  }
  .registration__wrap {
    padding-top: 7px;
  }
  .registration__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .registration__sum {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .registration__wrap-link {
    position: absolute;
    bottom: 78px;
  }
  .bestsellers__list-three {
    grid-template-columns: repeat(3, 186px);
  }
  .registration__form {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .bestsellers__card-three {
    width: 186px;
  }
  .subswiper__img-three {
    height: 102px;
  }
  .cart__name--small {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .registration__link {
    width: 100%;
  }
  .filters {
    grid-gap: 10px;
  }
  .filters__close {
    right: 16px;
  }
}
@media (max-width: 576px) {
  .header__container {
    padding-left: 20px;
    padding-right: 23px;
    padding-bottom: 10px;
  }
  .header__logo {
    width: 110px;
    height: 27px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .header__control {
    position: relative;
    left: 10px;
    order: -1;
    margin-left: 0;
  }
  .header__search {
    margin-right: 0;
  }
  .header__burger {
    top: 12px;
    right: 41px;
  }
  .search {
    width: 21px;
    height: 21px;
    position: relative;
  }
  .header__item {
    display: none;
  }
  .banner__container {
    padding-bottom: 54px;
  }
  .banner {
    height: 365px;
  }
  .banner__img {
    height: 340px;
  }
  .new__container {
    padding-bottom: 82px;
  }
  .new__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  .new__title--mobile {
    margin-bottom: 14px;
  }
  .new__wraper-text {
    bottom: 79px;
    left: 21px;
  }
  .new__price {
    font-size: 18px;
    line-height: 22px;
  }
  .new__wraper--reverse {
    flex-direction: row;
  }
  .new__name {
    bottom: 6px;
    left: 15px;
  }
  .new__name-small {
    bottom: 6px;
    left: 5px;
  }
  .bestsellers__container {
    padding-top: 18px;
    padding-bottom: 71px;
  }
  .bestsellers__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
  }
  .bestsellers__list {
    grid-template-columns: repeat(2, 187px);
  }
  .bestsellers__card-small {
    max-width: 187px;
  }
  .bestsellers__card-small img {
    width: 187px;
  }
  .subswiper__img {
    height: 166px;
  }
  .bestsellers__wrap {
    padding-top: 13px;
    padding-right: 10px;
    height: auto;
    padding-bottom: 17px;
  }
  .bestsellers__icon {
    max-width: 65px;
    height: 27px;
  }
  .catalog__container {
    padding-bottom: 83px;
  }
  .catalog__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 26px;
  }
  .catalog__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
  .catalog__img {
    height: 409px;
  }
  .footer__container {
    grid-template-columns: 80px auto;
    padding-bottom: 3px;
    padding-top: 118px;
    grid-gap: 35px;
  }
  .footer__logo {
    top: 54px;
  }
  .social__list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .social__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 9px;
  }
  .copyright {
    padding: 16px 12px 28px;
  }
  .footer_control {
    height: 80px;
    padding: 0 16px;
    background-color: #fff;
    box-shadow: 0 -4px 15px rgba(6, 6, 6, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .footer_control__item:not(:last-child) {
    margin-right: 80px;
  }
  .footer_control__link {
    cursor: pointer;
    display: block;
  }
  .about__container {
    padding-top: 35px;
  }
  .about__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #040406;
    margin-bottom: 10px;
  }
  .about__image {
    margin-bottom: 17px;
  }
  .about__name {
    margin-bottom: 20px;
  }
  .blog__container {
    padding-top: 33px;
  }
  .blog__subtitle {
    bottom: 23px;
    left: 24px;
  }
  .return__container {
    padding-top: 31px;
    padding-bottom: 81px;
  }
  .return__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 9px;
  }
  .return__desc {
    margin-top: 15px;
  }
  .cart__container {
    right: 0;
    transform: translate(90%);
    padding-left: 16px;
    padding-right: 16px;
  }
  .cart__container-wrap {
    width: 366px;
  }
  .cart__wrap {
    flex-direction: column;
  }
  .cart__wrap-left {
    display: flex;
    margin-bottom: 13px;
  }
  .cart__wrap-number {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 23px;
  }
  .filter__radio + .filter__label {
    padding-right: 24px;
  }
  .filter__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .filters {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 19px;
    position: relative;
    padding-bottom: 445px;
  }
  .filters__button-apply {
    grid-column: 1 / 2;
  }
  .filters__wrap:nth-child(2) {
    order: -1;
  }
  .filter__option--absolute {
    position: absolute;
    bottom: 225px;
    width: 100%;
  }
  .filters__wrap--absolute {
    position: absolute;
    bottom: 130px;
    width: 100%;
    height: auto;
  }
  .filters__button-apply {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 45%;
  }
  .filters__button-reset {
    position: absolute;
    bottom: 0;
    width: 45%;
    right: 0;
  }
  .polzunok__wrap {
    width: 100%;
  }
  .filters__close {
    top: -26px;
  }
}
@media (max-width: 390px) {
  .new__title--mobile {
    margin-bottom: 54px;
  }
  .new-button-prev {
    top: 54px;
  }
  .new-button-next {
    top: 54px;
  }
  .bestsellers__list {
    grid-template-columns: repeat(1, auto);
  }
  .bestsellers__subswiper {
    width: auto;
  }
  .cart__container {
    transform: translate(87%);
  }
  .cart__container-wrap {
    width: 288px;
  }
}

/* Acive */
.submenu1--active {
  display: block;
  position: absolute;
  background-color: #fff;
}
.header__nav--active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  transition: transform 1.2s ease;
}
.burger--active .burger__line:first-child {
  transform: translateY(0) rotate(45deg);
  background-color: black;
}
.burger--active .burger__line:nth-child(2) {
  background-color: transparent;
}
.burger--active .burger__line:last-child {
  transform: translateY(0) rotate(-45deg);
  background-color: black;
}
.cart__container--active {
  display: block;
}
.filters--active {
  display: grid;
}
.search--active {
  position: absolute;
  left: 135px;
  top: 10px;
}
.search-relative--active {
  position: relative;
  left: unset;
  top: unset;
}
.search__input--active {
  display: block;
}
.search__input-none--active {
  display: none;
}
.search__close--active {
  display: block;
}
.search__close-none--active {
  display: none;
}
/* index.html-end*/

@media (max-width: 1200px) {
  .row {
    max-width: 830px;
  }
}

@media (max-width: 576px) {
  .row {
    padding: 0 10px;
  }
}
